* {
  box-sizing: border-box;
}

body {
  background-color: #e9e2b4;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.header {
  background-image: url(../img/header-backgr.png);
  min-height: 657px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header_top {
  line-height: 94px;

  .logo {
    display: inline-block;
    padding-top: 22px;
    margin-left: 135px;
    float: left;
  }
}

.header_content{
    .menu{
      position: absolute;
      right: 30px;
        ul{
          list-style: none;
            li{
              display: inline-block;
                a{
                  color: #f1f1f1;
                  font-size: 15px;
                  margin-right: 30px;
                  text-transform: uppercase;
                }
              }
            }
          }  
}

.header_title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .header_title_top {
    margin: 0 auto;
    font-size: 32px;
  }
  .header_title_main {
    font-size: 70px;
  }
}

.header_discription {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 16px;
  
  display: flex;
  align-items: center;
  .header_discription_text {
    max-width: 334px;
    margin-bottom: 12px;
  }
  .header_discription_img {
    display: inline-block;
    justify-content: flex-end;
    margin-bottom: 25px;
  }
}
