* {
  box-sizing: border-box; }

body {
  background-color: #e9e2b4;
  color: #f1f1f1; }

a {
  text-decoration: none;
  display: inline-block; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex; }

.header {
  background-image: url(../img/header-backgr.png);
  min-height: 657px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px; }

.header_top {
  line-height: 94px; }
  .header_top .logo {
    display: inline-block;
    padding-top: 22px;
    margin-left: 135px;
    float: left; }

.header_content .menu {
  position: absolute;
  right: 30px; }
  .header_content .menu ul {
    list-style: none; }
    .header_content .menu ul li {
      display: inline-block; }
      .header_content .menu ul li a {
        color: #f1f1f1;
        font-size: 15px;
        margin-right: 30px;
        text-transform: uppercase; }

.header_title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header_title .header_title_top {
    margin: 0 auto;
    font-size: 32px; }
  .header_title .header_title_main {
    font-size: 70px; }

.header_discription {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center; }
  .header_discription .header_discription_text {
    max-width: 334px;
    margin-bottom: 12px; }
  .header_discription .header_discription_img {
    display: inline-block;
    justify-content: flex-end;
    margin-bottom: 25px; }

.main-content {
  position: relative; }
  .main-content .row1 {
    display: flex;
    flex-direction: row; }
    .main-content .row1 .main-content_first {
      max-width: 788px;
      min-height: 360px;
      padding: 20px;
      margin-right: 30px;
      margin-bottom: 28px;
      background-image: url(../img/burger1XL.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .main-content .row1 .main-content_first .first_inner {
        max-width: 257px;
        margin-left: 464px; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_label {
          text-align: center; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_title {
          text-align: center;
          font-size: 24px;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_text {
          font-size: 16px; }
    .main-content .row1 .main-content_second {
      max-width: 360px;
      min-height: 360px;
      padding: 20px;
      margin-bottom: 28px;
      background-image: url(../img/burger2.png);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center;
      position: relative; }
      .main-content .row1 .main-content_second .main-content_second_label {
        margin-top: -20px; }
      .main-content .row1 .main-content_second .main-content_second_text {
        font-size: 17px;
        max-width: 165px;
        margin-top: 10px;
        margin-right: 168px; }
  .main-content .row2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 388px; }
    .main-content .row2 .main-content_third {
      max-width: 554px;
      min-height: 360px;
      padding: 20px;
      margin-right: 30px;
      margin-bottom: 30px;
      background-image: url(../img/burger3.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .main-content .row2 .main-content_fourth {
      max-width: 557px;
      min-height: 360px;
      padding: 20px;
      margin-bottom: 30px;
      background-image: url(../img/burger4.png);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center; }
