* {
  box-sizing: border-box; }

body {
  background-color: #e9e2b4;
  color: #f1f1f1; }

a {
  text-decoration: none;
  display: inline-block; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex; }

.header {
  background-image: url(../img/header-backgr.png);
  min-height: 657px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px; }

.header_top {
  line-height: 94px; }
  .header_top .logo {
    display: inline-block;
    padding-top: 22px;
    margin-left: 135px;
    float: left; }

.header_content .menu {
  position: absolute;
  right: 30px; }
  .header_content .menu ul {
    list-style: none; }
    .header_content .menu ul li {
      display: inline-block; }
      .header_content .menu ul li a {
        color: #f1f1f1;
        font-size: 15px;
        margin-right: 30px;
        text-transform: uppercase; }

.header_title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .header_title .header_title_top {
    margin: 0 auto;
    font-size: 32px; }
  .header_title .header_title_main {
    font-size: 70px; }

.header_discription {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center; }
  .header_discription .header_discription_text {
    max-width: 334px;
    margin-bottom: 12px; }
  .header_discription .header_discription_img {
    display: inline-block;
    justify-content: flex-end;
    margin-bottom: 25px; }

.main-content {
  position: relative;
  min-height: 780px;
  margin-bottom: 30px; }
  .main-content .row1 {
    display: flex;
    flex-direction: row; }
    .main-content .row1 .main-content_first {
      max-width: 788px;
      min-height: 360px;
      padding: 20px;
      margin-right: 30px;
      margin-bottom: 28px;
      background-image: url(../img/burger1XL.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .main-content .row1 .main-content_first .first_inner {
        max-width: 257px;
        margin-left: 464px; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_label {
          text-align: center; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_title {
          text-align: center;
          font-size: 24px;
          text-transform: uppercase;
          margin-bottom: 20px; }
        .main-content .row1 .main-content_first .first_inner .main-content_first_text {
          font-size: 16px; }
    .main-content .row1 .main-content_second {
      max-width: 360px;
      min-height: 360px;
      padding: 20px;
      margin-right: -30px;
      margin-bottom: 28px;
      background-image: url(../img/burger2.png);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center;
      position: relative; }
      .main-content .row1 .main-content_second .main-content_second_label {
        margin-top: -20px; }
      .main-content .row1 .main-content_second .main-content_second_label::before {
        content: url(../img/burger.png);
        position: absolute;
        top: 5%;
        left: 17%; }
      .main-content .row1 .main-content_second .main-content_second_label::after {
        content: "Signature";
        font-size: 17px;
        text-transform: uppercase;
        position: absolute;
        left: 11%;
        top: 19%; }
      .main-content .row1 .main-content_second .main-content_second_text {
        font-size: 17px;
        max-width: 165px;
        margin-top: 10px;
        margin-right: 175px; }
  .main-content .row2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 388px; }
    .main-content .row2 .main-content_third {
      max-width: 554px;
      min-height: 360px;
      margin-right: 30px;
      margin-bottom: 30px;
      background-image: url(../img/burger3.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .main-content .row2 .main-content_third .main-content_third_label {
        position: absolute;
        top: 20px; }
      .main-content .row2 .main-content_third .main-content_third_label::before {
        content: "Classic";
        font-size: 22px;
        text-transform: uppercase;
        position: absolute;
        left: 15%;
        top: 11%; }
      .main-content .row2 .main-content_third .third_inner {
        max-width: 554px;
        min-height: 160px;
        background-color: rgba(147, 79, 50, 0.8);
        margin-top: 200px;
        padding: 20px; }
        .main-content .row2 .main-content_third .third_inner .main-content_third_title {
          font-size: 24px;
          font-weight: 700; }
        .main-content .row2 .main-content_third .third_inner .main-content_third_subtitle {
          font-size: 12px;
          margin-bottom: 20px; }
    .main-content .row2 .main-content_fourth {
      max-width: 557px;
      min-height: 360px;
      padding: 30px;
      margin-bottom: 30px;
      background-image: url(../img/burger4.png);
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: center; }
      .main-content .row2 .main-content_fourth .fourth_inner {
        max-width: 270px;
        margin-right: 293px; }
        .main-content .row2 .main-content_fourth .fourth_inner .main-content_fourth_title {
          font-size: 24px;
          font-weight: 700;
          line-height: 46px;
          border-bottom: #f1f1f1 solid 1px;
          margin-bottom: 10px; }
        .main-content .row2 .main-content_fourth .fourth_inner .protein {
          font-size: 14px;
          line-height: 40px; }
        .main-content .row2 .main-content_fourth .fourth_inner .protein::before {
          content: url(../img/protein.png);
          width: 35px;
          height: 35px;
          border: solid #f1f1f1 1px;
          border-radius: 50%;
          padding: 4px;
          margin-right: 7px; }
        .main-content .row2 .main-content_fourth .fourth_inner .carbohydrates {
          font-size: 14px;
          line-height: 40px; }
        .main-content .row2 .main-content_fourth .fourth_inner .carbohydrates::before {
          content: url(../img/carbohydrates.png);
          border: solid #f1f1f1 1px;
          border-radius: 50%;
          padding: 4px 6px;
          margin-right: 7px; }
        .main-content .row2 .main-content_fourth .fourth_inner .calories {
          font-size: 14px;
          line-height: 40px; }
        .main-content .row2 .main-content_fourth .fourth_inner .calories::before {
          content: "kcal";
          font-size: 10px;
          border: solid #f1f1f1 1px;
          border-radius: 50%;
          padding: 6px 4px;
          margin-right: 7px; }
        .main-content .row2 .main-content_fourth .fourth_inner .main-content_fourth_label {
          color: #f1f1f1;
          font-size: 12px;
          text-transform: uppercase;
          position: absolute;
          bottom: 65px; }
        .main-content .row2 .main-content_fourth .fourth_inner .main-content_fourth_label::before {
          content: url(../img/infoNutrition.png);
          position: absolute;
          bottom: 65px; }

.menu-links_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px; }
  .menu-links_top p {
    font-size: 36px;
    font-weight: 700;
    color: #f1f1f1;
    padding-left: 85px; }
  .menu-links_top .menu-link_item1 {
    background-image: url(../img/menuBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 95px;
    margin-right: 30px;
    position: relative; }
    .menu-links_top .menu-link_item1::before {
      content: url(../img/menuShape.png);
      position: absolute;
      top: 47px; }
  .menu-links_top .menu-link_item2 {
    background-image: url(../img/drinksBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 95px;
    margin-right: 30px;
    position: relative; }
    .menu-links_top .menu-link_item2::before {
      content: url(../img/drinksShape.png);
      position: absolute;
      top: 43px; }
  .menu-links_top .menu-link_item3 {
    background-image: url(../img/sidesBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 95px;
    position: relative; }
    .menu-links_top .menu-link_item3::before {
      content: url(../img/sidesShape.png);
      position: absolute;
      top: 47px; }

.menu-links_bottom {
  background-image: url(../img/servingSinceBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 68px;
  padding-bottom: 60px; }
  .menu-links_bottom .menu-links_bottom_titles {
    text-align: center; }
    .menu-links_bottom .menu-links_bottom_titles .menu-links_bottom_title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase; }
    .menu-links_bottom .menu-links_bottom_titles .menu-links_bottom_subtitle {
      font-size: 17px;
      letter-spacing: 3px; }

footer {
  background-color: #454646;
  padding-top: 40px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between; }
  footer .social {
    max-width: 238px;
    margin-right: 150px; }
  footer .social-links a {
    background-color: #4d5154;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative; }
  footer .facebook::before {
    content: url(../img/facebook.png);
    position: absolute;
    top: 15px;
    left: 20px; }
  footer .twitter::before {
    content: url(../img/twitter.png);
    position: absolute;
    top: 15px;
    left: 15px; }
  footer .instagram::before {
    content: url(../img/instagram.png);
    position: absolute;
    top: 15px;
    left: 15px; }
  footer .copy {
    font-size: 12px;
    color: #bec5cd; }
  footer .contact {
    max-width: 238px;
    margin-right: 150px; }
  footer .contact_title {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 20px; }
  footer .contact_mail {
    font-size: 16px;
    line-height: 24px;
    color: #bec5cd;
    margin-bottom: 20px; }
  footer .contact_address {
    font-size: 16px;
    line-height: 24px;
    color: #bec5cd;
    margin-bottom: 20px; }
  footer .subscribe {
    max-width: 260px; }
  footer .subscribe_title {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 20px; }
  footer .form-text {
    font-size: 16px;
    line-height: 24px;
    color: #bec5cd;
    margin-bottom: 20px; }
  footer .sudscribe-form input[type="email"] {
    background-color: #454646;
    border: 2px solid #646667;
    border-radius: 3px;
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 45px;
    padding-bottom: 12px; }
  footer .sudscribe-form input[type="button"] {
    background-color: #646667;
    border: 2px solid #646667;
    width: 41px;
    height: 46px;
    margin-left: -46px;
    position: relative; }
